body {
    background-color: #ffffff;
}

input[type="text"] {
    border: 1px solid #000000;
    border-radius: 3px;
    background: #ffffff !important;
    padding: 1rem;
}

input[type="text"]:focus {
  background: #e1e1e1 !important;
}

textarea {
    border: 1px solid #000000;
    border-radius: 3px;
    background: #ffffff !important;
    padding: 1rem;
    width: 100%;
}

textarea:focus {
  background: #e1e1e1 !important;
}

form{
    width: 100%;
}

dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: auto;
}

.hidden {
    visibility: hidden;
    height: 0 !important;
}

.header {
    display: flex;
    width: 100%;
    height: 4rem;
    background: #565656;
    align-items: center;
    justify-content: flex-end;
}

.cont__main__btn{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 5rem;
    row-gap: 2rem;


}

.main__block__btn{
    display: flex;
    flex-direction: row;
    flex:2;
}

.btn__main{
    --bs-btn-border-width: 0.2rem;
    width: 100%;
    background: #fff;
}

.title__create{
    font-size: 3.5rem;
}

.cont__title__create{
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.cont__title__create .cont__title__answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.cont__title__create .cont__title__answer .title__create{
 font-size: 1.5rem;
}


.input__title__create{
    height: 4rem !important;
    width: 100% !important;
    font-size: 1.8rem !important;
}

.cont__input__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.create_form__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    row-gap: 2rem;
}

.input__description__create{
    height: 11rem !important;
    font-size: 1.3rem;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #868686;
    --bs-btn-border-color: #313131;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #3d3d3d;
    --bs-btn-hover-border-color: #313131;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e1e1e1;
    --bs-btn-active-border-color: #e1e1e1;

}

.btn__create{
    margin: 6rem !important;
    width: 30%;
    height: 3rem;
}

.btn__dialog {
    margin: 0rem !important;
    width: 100%;
    padding: 0rem 4rem;
}

.btn__header__main{
    border: 0px;
    background-color: #fff;
    --bs-btn-hover-bg: #b2b2b2;
    --bs-btn-hover-color: #ffffff;
}

.cont_right_header{
    display: flex;
    row-gap: 1rem;
    margin-right: 2rem;
}

.dialog-title{
    margin-bottom: 4rem;
}

.cont__for__questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont__for__questions .form__question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    width: 80%;
}

.cont__for__questions .form__question .fist_line{
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.cont__for__questions .form__question .fist_line .element__radio__for__form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.cont__for__questions .form__question .fist_line .element__radio__for__form .cont__radio{
    display: flex;
    column-gap: 1rem;
    justify-content: flex-start;
}

.form__question .cont__for__answers{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form__question .block__answers{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form__question .input__name__question {
    height: 8rem;
}

.form__question .block__one__answer .input__title__create {
    display: flex;
    width: 50% !important;
}

.btn__minus, .btn__plus{
    display: flex;
}

.form__question img{
    max-width: 40px;
}

.form__question .for__answer__plus__btn{
    display: flex;
    align-items: center;
}