{% extends 'main.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
    <div class="main__block__btn">
        <div class="cont__main__btn">
            <a href="/create-test"><button class="btn btn-outline-secondary btn__main" type="button">Создать тест</button></a>
            <button class="btn btn-outline-secondary btn__main" type="button">Создать опрос</button>
            <button class="btn btn-outline-secondary btn__main" type="button">Группы</button>
            <button class="btn btn-outline-secondary btn__main" type="button">Назанчить тестирование</button>
            <button class="btn btn-outline-secondary btn__main" type="button">Показать статистику</button>
            <button class="btn btn-outline-secondary btn__main" type="button">Сгенерировать отчет</button>
        </div>
    </div>
{% endblock %}